h1 {
	color: rgb(79, 79, 96);
	font-size:60px;
}

body {
	/*background: #ffffff;*/
	background: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))

}

.card {
	height: 100%;
  }
  
.card-body {
	flex: 1;
}


