{% extends 'base.html' %}
{% block content %}

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{ url_for('static', filename='images/' + profile_image) }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Hello, I'm {{current_user.name}}</h1>
        <p class="lead">Below are my latest projects I've been working on. Click this button to see the rest!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a class="btn btn-outline-secondary" href="{{ url_for('posts')}}">See all of them</a>
        </div>
      </div>
    </div>
  </div>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 text-center ">
      {% for post in projects[:3] %}
        <div class="col" >
          <div class="card shadow-sm">
            <large class="text-muted display-6 " >{{ post.title }}</large>
            <div class="card-body">
              <p class="card-text">{{ post.content|safe  }}</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>



{%endblock%}
