{% extends 'base.html' %}
{% include 'index.html' %}
{% block content %}
<head><link
  href="{{ url_for('static', filename='css/cards.css') }}"
  rel="stylesheet"
/></head>

<section class="card-list">
  {% for post in projects[:5] %}
  {% set post_pic_name = post.post_pic %}
  <article class="card">
    <header class="card-header">
      <p>{{post.date_posted}}</p>
      <h2><a style=" color: white;" href="{{url_for('post', id=post.id)}}">{{ post.title }}</a></h2></br>
      <img src={{ url_for('static', filename='images/' + post_pic_name)}} alt="" style="">
      
      <div class="card-author">
        <a class="author-avatar">
          <img src="{{ url_for('static', filename='images/' + profile_image) }}" />
        </a>
        <svg class="half-circle" viewBox="0 0 106 57">
          <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
        </svg>
        <div class="author-name">
          <div class="author-name-prefix">Author</div>
          {{ post.author }}
        </div>
      </div>
    </header>
  </article>
  {% endfor %}
</section>
<div class="tags">
  <a href="{{ url_for('posts')}}">See more</a>
</div>

</br></br>
<!--
<div class="container-info_posts">
  {% for post in info_posts%}
  {% set post_pic_name = post.post_pic %}
  <div class="row">
    <div class="col" >
      <h2 class="">{{ post.title }}</h2></br>
      <p class="">{{ post.content|safe }}</p>
    </div>
    <div class="col">
      <img class="featurette-image img-fluid mx-auto"  style="" src={{ url_for('static', filename='images/' + post_pic_name)}}>
    </div>
  </div>
  <div class="row">
    <div class="col order-md-2">
      <h2 class="">{{ post.title }}</h2></br>
      <p class="">{{ post.content|safe }}</p>
    </div>
    <div class="col order-md-1">
      <img class="featurette-image img-fluid mx-auto"  style="" src={{ url_for('static', filename='images/' + post_pic_name)}}>
    </div>
  </div>
  {% endfor %}
</div>
-->

<div class="container-info_posts">
  {% for i in range(0, info_posts.count(), 2) %}
    {% set post = info_posts[i] %}
    {% set post_pic_name = post.post_pic %}
    <div class="row">
      <div class="col" >
        <h2 class="">{{ post.title }}</h2></br>
        <p class="">{{ post.content|safe }}</p>
      </div>
      <div class="col">
        <img class="featurette-image img-fluid mx-auto"  style="" src={{ url_for('static', filename='images/' + post_pic_name)}}>
      </div>
    </div>
    {% if i+1 < info_posts.count() %}
      {% set post = info_posts[i+1] %}
      {% set post_pic_name = post.post_pic %}
      <div class="row">
        <div class="col order-md-2">
          <h2 class="">{{ post.title }}</h2></br>
          <p class="">{{ post.content|safe }}</p>
        </div>
        <div class="col order-md-1">
          <img class="featurette-image img-fluid mx-auto"  style="" src={{ url_for('static', filename='images/' + post_pic_name)}}>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>



<!--
  - change the layout of these information posts to something like this:
  https://grainandmortar.com/about/

  - add edit button to these posts / only visible for Admin

  - edit for loop so it displays two different in sequence info_posts

  - the SelectField for Project / Information should be nothing at the start value

  - 


-->

{%endblock%}
