{% extends 'base.html' %}
{% include 'index.html' %}
{% block content %}
<head><link
  href="{{ url_for('static', filename='css/cards.css') }}"
  rel="stylesheet"
/></head>

<h1 calss="display-2">My projcets</h2>

<section class="card-list">
  {% for post in projects[:5] %}
  {% set post_pic_name = post.post_pic %}
  <article class="card">
    <header class="card-header">
      <p>{{post.date_posted}}</p>
      <h2><a style=" color: white;" href="{{url_for('post', id=post.id)}}">{{ post.title }}</a></h2></br>
      <img src={{ url_for('static', filename='images/' + post_pic_name)}} alt="" style="">
      
      <div class="card-author">
        <a class="author-avatar">
          <img src="{{ url_for('static', filename='images/' + profile_image) }}" />
        </a>
        <svg class="half-circle" viewBox="0 0 106 57">
          <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
        </svg>
        <div class="author-name">
          <div class="author-name-prefix">Author</div>
          {{ post.author }}
        </div>
      </div>
    </header>
  </article>
  {% endfor %}
</section>
<section>
  <div class="tags topcorner" style="">
    <a href="{{ url_for('posts')}}">See more</a>
  </div>
</section>

</br></br></br>
<h1 calss="display-2">About me</h2>
</br></br>
<div class="container-info_posts">
  {% for i in range(0, info_posts.count(), 2) %}
    {% set post = info_posts[i] %}
    {% set post_pic_name = post.post_pic %}
    <div class="row border2">
      <div class="col" >
        <h2 class="">{{ post.title }}</h2></br>
        <p class="">{{ post.content|safe }}</p>
        <p class="tags">
        {% if current_user.is_authenticated %}
        <a href="{{url_for('edit_post', id=post.id)}}" class="mx-2"> Edit Information</a>
        <a href="{{url_for('delete_post', id=post.id)}}" class="mx-2">Delete Information</a>
        {% endif %}
        </p>
      </div>
      <div class="col imgdiv">
        <img class="featurette-image img-fluid mx-auto"  style="" src={{ url_for('static', filename='images/' + post_pic_name)}}>
      </div>
    </div>
    {% if i+1 < info_posts.count() %}
      {% set post = info_posts[i+1] %}
      {% set post_pic_name = post.post_pic %}
      <div class="row border2">
        <div class="col order-md-2">
          <h2 class="">{{ post.title }}</h2></br>
          <p class="">{{ post.title }}</br>{{ post.content|safe }}</p>
          <p class="tags">
          {% if current_user.is_authenticated %}
          <a href="{{url_for('edit_post', id=post.id)}}" class="mx-2"> Edit Information</a>
          <a href="{{url_for('delete_post', id=post.id)}}" class="mx-2">Delete Information</a>
          {% endif %}
          </p>
        </div>
        <div class="col imgdiv order-md-1">
          <img class="featurette-image img-fluid mx-auto"  style="" src={{ url_for('static', filename='images/' + post_pic_name)}}>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>




<!--
  - change the layout of these information posts to something like this:
  https://grainandmortar.com/about/

  - add edit button to these posts / only visible for Admin

  - the SelectField for Project / Information should be nothing at the start value

  - 


-->

{%endblock%}
