{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	
{% endfor %}




<br/>
<div class="shadow p-3 mb-5 bg-dark rounded">
   <div class="">
      <h2 class="pb-2">Dashboard</h2>
   </div>
   <div class="">
      <h5 class=""></h5>
      <p class="">
      <div class="container">
         <div class="row">
            <div class="col-8"
            <h1> </h1></br>
            <strong>Name:</strong> {{current_user.name}} <br/> <!--It isn't strong bc everything else is so the above line was added-->
            <strong>Username:</strong> {{current_user.username}} <br/>
            <strong>About author:</strong>{{current_user.about_author}}<br/>
            <strong>Email</strong> {{current_user.email}} <br/>
            <strong>User ID:</strong> {{current_user.id}} <br/>
            <!--<strong>Profile pic:</strong> {{current_user.profile_pic}} <br/>-->
            <strong>Date of registration:</strong> {{current_user.date_added}} <br/>
            <br/><br/>
            <a href="{{ url_for('logout')}}" class="btn btn-secondary">Logout</a>
            <a href="{{ url_for('update', id=current_user.id)}}" class="btn btn-secondary">Edit Profile</a>
            <a href="{{ url_for('delete', id=current_user.id)}}" class="btn btn-danger">Delete</a>
         </div>
         <div class="col-4">
            {% if current_user.profile_pic%}
            <img src={{ url_for('static',
            filename='images/' + current_user.profile_pic)}} width="200" align="right">
            
            {% else %}

            <img src={{ url_for('static',
            filename='images/avatar.png')}} width="200" align="right">

            {% endif %}
         </div>
      </div>
   </div>
   </p>       
</div>


<div class="container px-4 py-5" id="icon-grid">
   <h2 class="pb-2 border-bottom">Tools</h2>

   <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
     <div class="col d-flex align-items-start">
       <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"></use></svg>
       <div>
         <h3 class="fw-bold mb-0 fs-4"><a href="{{ url_for('add_user')}}"><button type="button" class="btn btn-dark">Add Admin</button></a></h3>
         <p> </p>
       </div>
     </div>
     <div class="col d-flex align-items-start">
       <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"></use></svg>
       <div>
         <h3 class="fw-bold mb-0 fs-4"><a href="{{ url_for('add_post')}}"><button type="button" class="btn btn-dark">Add Project</button></a></h3>
         <p> </p>
       </div>
     </div>
     <div class="col d-flex align-items-start">
       <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"></use></svg>
       <div>
         <h3 class="fw-bold mb-0 fs-4"><button type="button" class="btn btn-dark">Tool 3</button></a></h3>
         <p> </p>
       </div>
     </div>
     <div class="col d-flex align-items-start">
       <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"></use></svg>
       <div>
         <h3 class="fw-bold mb-0 fs-4"><button type="button" class="btn btn-dark">Tool 4</button></a></h3>
         <p> </p>
       </div>
     </div>
   </div>
 </div>





{% endblock %}