{% block content %}

<!-- Background image -->
<div
  class="bg-image lazy"
  style="
    background-image: url('{{profile_background}}');
    height: 100vh;  
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; ">
  
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.1);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <h1 class="text-white mb-0">
        

        <div class="container col-xl-8 px-4 py-5">
          <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
              {% if profile_image%}
              <img src="{{ url_for('static', filename='images/' + profile_image) }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" style="max-width: 300px; max-hight: 300px;"" loading="lazy">
              
              {% else %}
  
              <img src={{ url_for('static',
              filename='images/avatar.png')}} style="width="200" align="right" >
  
              {% endif %}
            </div>
            <div class="col-lg-6">
              <h1 class="display-5 fw-bold lh-1 mb-3 text-justify">Hi, I'm </br>{{profile_name}}</h1>
              <p class="lead ">{{profile_about_author}}</p>
            </div>
          </div>
        </div>


      </h1>
    </div>
  </div>
</div>

{% endblock %}
