{% extends 'base.html' %}

{% block content %}
<head><link
	href="{{ url_for('static', filename='css/projects.css') }}"
	rel="stylesheet"
  /></head>


<h2>Latest Projcets</h2>

<div class="container2">
		<div class="blog-post">
			<div class="blog-post_img">
				<img src={{ url_for('static', filename='images/' + post_pic_name)}} alt="">
			</div>
			<div class="blog-post_info">
				<h1 class="blog-post_title">{{ post.title }}</h1>
				<div class="blog-post_date">
					<span>{{ post.date_posted.strftime('%d %B %Y') }}</span>
				</div>
				<p class="blog-post_text">
					{{ post.content|safe }}
				</p>
				<div class="tags">
				</br>
				<a href="{{url_for('post', id=post.id)}}" class="mx-2"> View Project</a>  
				{% if current_user.is_authenticated %}
				<a href="{{url_for('edit_post', id=post.id)}}" class="mx-2"> Edit Project</a>
				<a href="{{url_for('delete_post', id=post.id)}}" class="mx-2">Delete Post</a>
				{% endif %}
			</div>
			</div>
		</div></br>
</div>
<div class="tags">
<a href="{{url_for('posts')}}" class="mx-2">Back to projects</a>
</div>

</container>
{% endblock %}